<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row>
    <div fxLayout="row" class="width-100">
      <div fxFlex="95">
        <span>Sample Movie App</span>
      </div>
      <div fxFlex fxFlexAlign="end">
        <mat-icon (click)="navToFav()"class="pointer" [matBadge]="getFavMoviesCount()" matTooltip="View favorite movies" matBadgeColor="warn">favorite</mat-icon>
      </div>
    </div>
  </mat-toolbar-row>


</mat-toolbar>
<router-outlet></router-outlet>
