/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
}

div.overlay_div {
  opacity: 0.8;
  filter: alpha(opacity=20);
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
}

.flexDisplayStretch {
  flex: 1;
}
.pointer {
  cursor: pointer;
}

.mat-card-header-text {
  width: 100%;
}
.margin-top-8x {
  margin-top: 32px;
}
.margin-right-2x {
  margin-right: 8px;
}

.margin-top-1x {
  margin-top: 4px;
}

.margin-top-2x {
  margin-top: 8px;
}

.minCardHeight {
  min-height: 200px;
}

.margin-top-4x {
  margin-top: 16px;
}

.flexDisplay {
  display: flex;
}

.adapt-image {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
}

.margin-left-0x {
  margin-left: 0px;
}

mat-card-content {
  margin-left: 16px;
}

.margin-4x {
  margin: 16px;
}
.margin-bottom-4x {
  margin: 16px;
}

.height-100 {
  height: 100%;
}

.height-auto {
  height: auto !important;
}

mat-card-image {
  width: 50%;
  height: 50%;
}



mat-grid-tile {
  margin: 8px;
}



.margin-2x {
  margin: 8px;
}

.link {
  color: #2980b9;
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.margin-left-4x {
  margin-left: 16px;
}
.margin-left-2x {
  margin-left: 4px;
}

.width-100 {
  width: 100%;
}

.center_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
